{% extends 'base.html.twig' %}

{% block title %}Paiement{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Page de paiement</h1>
        <p>Cette page est en cours de développement...</p>
        
        <a href="{{ path('app_formation_index') }}" class="btn btn-secondary">Retour aux formations</a>
    </div>
{% endblock %} 