{% if pageCount > 1 %}
    <div class="pagination-container">
        <ul class="pagination">
            {# Bouton Précédent #}
            {% if previous is defined %}
                <li class="page-item">
                    <a class="page-link" href="{{ path(route, query|merge({(pageParameterName): previous})) }}">Précédent</a>
                </li>
            {% endif %}

            {# Numéros de page #}
            {% for page in pagesInRange %}
                <li class="page-item {% if page == current %}active{% endif %}">
                    <a class="page-link" href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
                </li>
            {% endfor %}

            {# Bouton Suivant #}
            {% if next is defined %}
                <li class="page-item">
                    <a class="page-link" href="{{ path(route, query|merge({(pageParameterName): next})) }}">Suivant</a>
                </li>
            {% endif %}
        </ul>
    </div>
{% endif %} 