<h1>Confirmation de paiement</h1>

<p>Bonjour {{ user.nom }},</p>

<p>Nous vous confirmons que votre paiement a été effectué avec succès.</p>

<p>Votre réservation est maintenant confirmée.</p>

<p>Merci de votre confiance !</p>

<p>Cordialement,<br>
L'équipe de formation</p> 